.exam-question-container {
    padding: 20px;
    margin-left: 220px;
    min-height: 100vh;
    background: #f4f7fc;
}

.exam-question-container h1 {
    color: #003366;
    margin-bottom: 20px;
}

.exam-question-container form {
    background: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

.exam-question-container input,
.exam-question-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
}

.exam-question-container button {
    background-color: #003366;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exam-question-container button:hover {
    background-color: #0055aa;
}

.exam-question-container table {
    width: 100%;
    margin-top: 25px;
    background: white;
    border-collapse: collapse;
    box-shadow: 0 0 10px #ddd;
}

.exam-question-container th,
.exam-question-container td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.exam-question-container th {
    background: #003366;
    color: white;
}

.exam-question-container td button {
    margin: 5px;
}